<style>
    .wrapper {
        min-height: 100vh;
        overflow: hidden;
    }
    .row {
        display: flex;
        align-items: center;
        margin: 10px -15px;
    }
    .row > * {
        width: 50%;
        padding: 0 15px;
    }
</style>

<div class="wrapper">
    <div class="row">
        <form action="" method="post" id="add-form">
            <input type="text" name="name" placeholder="Название формы"/>
            <button id="add-form-elements">Добавить поля</button>
<!--Добавляем поля для ввода названия и типа поля в шаблоне              -->
            <div id="form-elements"></div>
            <button id="add-template">Добавить шаблон</button>
        </form>
        <div id="search-form"></div>
    </div>
    <div class="row">
        <div id="db-structure"></div>
        <div id="search-form-result"></div>
    </div>
</div>

<script>
document.querySelector('#add-form-elements').addEventListener('click', function(e) {
    
    e.preventDefault();
// генерим случайное число для имён полей для ввода    
    var rand_name = generateRandName(),
        html = '<input type="text" name="name_' + rand_name + '" placeholder="Название поля"/>'
            + '<input type="text" name="type_' + rand_name + '" placeholder="Тип поля"/>';
    
    document.querySelector('#form-elements').innerHTML += html;
});
    
document.querySelector('#add-template').addEventListener('click', function(e) {
    
    e.preventDefault();
// собираем данные формы    
    var data = new FormData(document.querySelector('#add-form'));
//   отправляем запрос на сервер  
    fetch(
        '/form_add',
        {
            method: 'post',
            body: data
        }
//         ответ
    ).then((response) => {
        console.log(response.text());
    });
});
    
function generateRandName() {
    
    var name = Math.random().toString().substr(4, 5);
    
    while (document.querySelector('input[name="name_' + name + '"]')) {
        name = Math.random().toString().substr(4, 5);
    }
    
    return name;
}
</script>